<!DOCTYPE html>
<html>
  <body>
    <h1><%= data.title %></h1>
    <ul>
      <li><%= data.description %></li>
      <li><%= data.message %></li>
      <li>
        <strong>Дата создания:</strong>
        <%= data.createdAt %>
      </li>
    </ul>
  </body>
</html>
