<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration</title>
</head>

<body>
	<div style="padding-bottom: 30px;">Для подтверждения регистрации перейдите пожалуйста по ссылке</div>
	<a style="text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0.75575rem 1.3rem;
    font-size: 0.925rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    color: #ffffff;
    background-color: #009688;
    border: 0px;
    margin-right: 0.75rem!important;
    font-weight: 600!important;
    outline: none!important;
    vertical-align: middle;" href="<%= url %>">Подтвердить регистрацию</a>
</body>

</html>