@import "@styles/variables.scss";

.table {
    overflow: auto;
    border-radius: 16px 16px 0 0;

    &__header {
        z-index: 1;
        position: sticky;
        top: 0;
        left: 0;
        display: grid;
        width: fit-content;
        background: $snow-white;
        border: 1px solid rgba(217, 217, 217, 0.05);
        box-shadow: 2px 2px 16px rgba(117, 117, 117, 0.04);
        border-radius: 16px 16px 0px 0px;
    }

    &__inner {
        position: relative;
    }

    &__body {
        background: rgba($snow-white, 0.1);
        border-radius: 0px 0px 16px 16px;
    }

    &__th,
    &__td {
        padding: 14px;
        white-space: nowrap;

        &--center {
            text-align: center;
        }

        &--wrap {
            white-space: inherit;
        }
    }

    .ellipsis-text {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__row {
        display: grid;
        width: fit-content;

        &--group {
            background-color: rgba($teal, 0.1);
        }

        &--group-even {
            background-color: rgba($teal, 0.2);
        }

        &--clickable {
            cursor: pointer;
        }
    }

    &__td-icon {
        cursor: pointer;
        text-align: center;
    }

    &__no-data-label {
        padding: 45px 45px;
        text-align: center;
    }

    &__icons {
        display: grid;
        grid-template-columns: 20px 20px 20px 20px 20px;
        gap: 10px;
    }
}
