@import "@styles/variables.scss";

.notification-tile {
    padding: 12px;
    width: 138px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;

    &--success {
        color: $primary;
        background: #dcebe7;
    }

    &--progress {
        color: rgba(84, 150, 251, 0.9);
        background: linear-gradient(
            198.01deg,
            rgba(84, 150, 251, 0.05) 0.44%,
            rgba(7, 49, 112, 0.042) 108.3%
        );
    }

    &--pending {
        color: #ffcc02f1;
        background: linear-gradient(
            198.01deg,
            rgba(252, 226, 0, 0.05) 0.44%,
            rgba(255, 124, 2, 0.05) 108.3%
        );
    }

    &--error {
        color: #bf2e00;
        background: linear-gradient(
            198.01deg,
            rgba(191, 46, 0, 0.05) 0.44%,
            rgba(249, 43, 175, 0.042) 108.3%
        );
    }

    &--canceled {
        color: #bf2e00;
        background: linear-gradient(
            198.01deg,
            rgba(191, 46, 0, 0.05) 0.44%,
            rgba(249, 43, 175, 0.042) 108.3%
        );
    }

    &--info {
        color: rgba(84, 150, 251, 0.9);
        background: linear-gradient(
            198.01deg,
            rgba(84, 150, 251, 0.05) 0.44%,
            rgba(7, 49, 112, 0.042) 108.3%
        );
    }
}

.full .notification-tile {
    width: 160px;
}
