@import "@styles/variables.scss";

.auth-page {
    display: flex;
    height: 100%;

    &__title.h1 {
        font-size: 42px;
        line-height: 57px;
        margin-bottom: 10px;
    }

    &__label.p {
        margin-bottom: 27px;
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 48px;
    }

    &__content--secret {
        overflow: auto;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 435px;
    }

    &__image {
        max-width: 596px;
        width: 100%;
        background-color: azure;
    }

    &__form-container {
        position: relative;
        padding-bottom: 30px;
    }

    &__form-buttons {
        display: grid;
        gap: 16px;
    }

    &__form-tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__form-error {
        position: absolute;
        bottom: 0;
        color: $red;
    }

    &__user-type-btns {
        display: grid;
        gap: 30px;
        max-width: 435px;

        .button {
            padding: 25px;
        }
    }
}
