.edit-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &__controls {
        display: flex;
    }

    &__icon {
        margin: 0 5px;
    }

    &__label {
        font-weight: 600;
        font-size: 14px;
    }
}
